*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: url(background.png) #FA7F72;
    width: 100%;
    height: 100%;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.textos_esquerda h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
}

.textos_esquerda{
    display: inline;
    width: 45%;
    min-width: 350px;
    text-align: center;
    margin: auto;
    font-size: 18px;
    color: #ffffff;
}

.form_direita{
    margin: auto;
    margin: 3% auto 0;
    width: 500px;
    min-width: 350px;
}

.promocao p{
    background-color: #5455bb;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 0 10px 10px #7a7a7a;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}

.formulario{
    background: #ffffff;
    margin: 25px 0 0;
    border-radius: 10px;
    padding: 20px 0 40px 0;
    text-align: center;
}

input, button{
    font-family: 'Poppins', sans-serif;
    width: 375px;
    padding: 15px 0;
    border-radius: 10px;
}

input{
    background: url(icon-error.svg) no-repeat 95%;
    padding-left: 30px;
    margin: 20px 0 0 0;
    border: 1px solid lightgray;
    font-size: 15px;
}

button{
    background: hsl(154, 59%, 51%);
    margin: 20px 0;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.termos{
    color: lightgrey;
    text-align: center;
    font-size: 13px;
}

.termos strong{
    color: #FA7F72;
}

#erro_nome, #erro_sobrenome, #erro_email, #erro_senha{
    padding: 5px 25px 0 0;
    color: #ff5050;
    text-align: end;
    font-size: 13px;
}

/*MEDIA QUERY*/
 
/*

.form_direita{
    width: 300px;
    margin: 20px 0 0 20px;
}    

button, input{
    width: 270px;
}

*/